extends layout

block content
    div.card-columns
    for message in messages
            div.card
                div.card-body
                    h5.card-title #{message.title}
                    p.card-text #{message.text}
                    if (currentUser && currentUser.is_admin)
                        form(action="/message/delete" method="post")
                            input(type="hidden" name="message_id" value=(message._id)) 
                            button.btn.btn-primary(type="submit") Delete message  
                div.card-footer.d-flex.justify-content-between
                    small.text-muted Posted #{message.relative_time}
                    if (currentUser && currentUser.membership_status === true)
                        small.text-muted By #{message.user.full_name}
                    else 
                        small.text-muted By a wonderful Human