extends layout 

block content 
    h1= title 

    form(action="", method="post")
        div.form-group 
            label(for="username") 
            input#secret_code.form-control(type="text" name="secret_code" placeholder="Secret code")
        button.btn.btn-primary(type="submit") Sign in

    if error
        ul
            li!= error